{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block content %}
<!-- about -->
<section class="about">
    <div class="section-wrapper">
        <h1>about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia obcaecati odio vitae voluptatem pariatur velit libero est veritatis dicta molestias iusto, nam iure dolor deserunt nisi animi nobis commodi a?
        Incidunt aliquid necessitatibus rerum nam placeat repellat delectus voluptates a molestias voluptate voluptatem dolore est sit ad non dicta officia eligendi, eius eaque. Exercitationem nemo at natus culpa, illum sequi.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est inventore illo esse mollitia ullam sapiente dolor quia numquam neque reprehenderit. Sed repudiandae quaerat nam sequi molestias amet sapiente consectetur quae!
        Delectus aut, labore quasi adipisci asperiores voluptas ipsam ad nemo numquam, facere, similique ipsa autem aliquam atque esse quibusdam iure alias earum! Rem dicta dolor illo non. Earum, deserunt quas!</p>
    </div>
</section>
{% endblock %}