{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- header -->
<header>
    
</header>
<!-- end of header -->
<!-- health divider -->
<div class="health-div">
    <div class="health-wrapper">
        <div class="health health-1">
            <h2>healthcare professionals</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nam, doloremque quod ipsam inventore ullam sapiente totam similique cupiditate tempore?</p>
            <a href="#n">read more</a>
        </div>
        <div class="health health-2">
            <h2>healthcare organisations</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nam, doloremque quod ipsam inventore ullam sapiente totam similique cupiditate tempore?</p>
            <a href="#n">read more</a>
        </div>
    </div>
</div>
<!-- end of health divider -->
<!-- service info -->
<section class="service-info">
    <div class="section-wrapper">
        <div class="serv-info-wrapper">
            <h1>our health is the most important thing we have</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis modi doloribus eaque ratione? Sint corrupti, nisi dolores libero ullam, nulla aliquam, magni illo rem sit labore quos veritatis? Quae, mollitia.</p>
        </div>
    </div>
</section>
<!-- end of service info -->
<!-- stats section -->
<section class="stats">
    <div class="section-wrapper">
        <div class="stats-grid">
            <!-- start -->
            <div class="box">
                <h2>10k +</h2>
                <p>satisfied customers</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box">
                <h2>90%+</h2>
                <p>nhis trust regularly work with us</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box">
                <h2>24</h2>
                <p>hours working time</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box">
                <h2>8+</h2>
                <p>years of experience</p>
            </div>
            <!-- end -->
        </div>
    </div>
</section>
<!-- end of stats section -->
<!-- service 1 -->
<section class="service-1">
    <div class="section-wrapper">
        <h1>one of ghana's most trusted healthcare talent provider</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, facilis?</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ea. Iste distinctio ut temporibus quos enim perspiciatis? Asperiores repellendus delectus aut consequuntur ipsum, dignissimos adipisci, similique quis deleniti quidem voluptatibus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eos voluptatibus consequatur quae, quibusdam officiis, quaerat ab officia quo nam consectetur unde doloribus sint corrupti quos excepturi delectus omnis corporis.</p>
    </div>
</section>
<!-- end of service 1 -->
<!-- service 2 -->
<section class="service-2">
    <div class="section-wrapper">
        <div class="service-wrapper">
            <div class="content-box">
                <h1>what we do</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis a, sapiente possimus quod ipsa inventore laborum amet. A iure, quod dicta ipsa assumenda quam, accusamus officia dolores repudiandae odio qui.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem architecto, quod quae sunt molestias iure veritatis eius! Consectetur expedita eius ullam culpa deserunt molestias quaerat quia aperiam. Voluptatibus, fugiat eaque.</p>
                <a href="#n" class="all-btns">register</a>
            </div>
            <div class="img-box">
                <img src="{% static 'img/img4.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end of service 2 -->
<!-- professionals section -->
<section class="prof">
    <div class="section-wrapper">
        <h1>healthcare professionals</h1>
        <div class="prof-grid">
            <!-- start -->
            <div class="box" tabindex="0">
                <div class="overlay">
                    <h2>doctors</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n" class="all-btns">learn more</a>
                </div>
                <div class="content-box">
                    <h2>doctors</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n">learn more</a>
                </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" tabindex="0">
                <div class="overlay">
                    <h2>nurses</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n" class="all-btns">learn more</a>
                </div>
                <div class="content-box">
                    <h2>nurses</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n">learn more</a>
                </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" tabindex="0">
                <div class="overlay">
                    <h2>other</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n" class="all-btns">learn more</a>
                </div>
                <div class="content-box">
                    <h2>other</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n">learn more</a>
                </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" tabindex="0">
                <div class="overlay">
                    <h2>other</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n" class="all-btns">learn more</a>
                </div>
                <div class="content-box">
                    <h2>other</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolores, sequi obcaecati labore error assumenda.</p>
                    <a href="#n">learn more</a>
                </div>
            </div>
            <!-- end -->
        </div>
    </div>
</section>
<!-- end of professionals section -->
<!-- search jobs section -->
<section class="search-job">
    <div class="section-wrapper">
        <h1>check out our latest jobs</h1>
        <form action="#" class="search-job-form">
            <input type="search" placeholder="the job name" aria-label="input the job name you are searching for">
            <input type="submit" value="search" class="all-btns">
        </form>
        <div class="content-wrapper">
            <div class="box-1">
                <h4>didn't find what you were looking for?</h4>
                <a href="#n" class="all-btns">view all jobs</a>
            </div>
            <div class="box-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio est dolorum, itaque quas mollitia voluptates asperiores. Esse laudantium at, error ab voluptatum placeat asperiores molestias impedit accusamus provident dignissimos.</p>
                <a href="#N">register now</a>
            </div>
        </div>
    </div>
</section>
<!-- end of search jobs section -->
<!-- contact us section -->
<section class="contact" id="contact">
    <div class="section-wrapper">
        <div class="contact-wrapper">
            <h1>send us a message</h1>
            <form action="#">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <textarea placeholder="Message"></textarea>
                <input type="submit" value="send" class="all-btns">
            </form>
        </div>
    </div>
</section>
<!-- end of contact us section -->
{% endblock %}